body {
	padding-left:100px;
    padding-bottom:100px;
    position:absolute;
    width:700px;
    top:0;
    border-left:14px solid #0B0B61;
    
    font-family: 'Open Sans',sans-serif;
}

blockquote p {
    font-family: 'Shadows Into Light', cursive;
    font-size:22px;
    line-height:1.3em;
    padding:18px;
}

a {
	color:inherit;
    font-weight:bold;
}

a:hover {
	color:inherit;
}

h1, h2, h3, h4, p {
	line-height:1.2em;
    font-weight:300;
    margin-top:1em;
    font-family: 'Droid Sans',sans-serif;

}

ol{
    font-size:16px;
}

li {
        line-height:1.4em;



}

p{
	font-size:16px;
    line-height:1.4em;

}

h1{
	font-size:100px;
}

h2 {
    font-size:25pt;
}

h3 {
    font-size:23px;
}


div[data-toggle="collapse"] {
    float: left;
}

.logo {
position:absolute;
top:-2px;
left:0;
padding-bottom: 10px;
background-color:#0B0B61;
}
.logotext {
font-size: 40px;
top:-5px;
margin-top:10px;
margin-right: 10px;
color:#fefefe;
}

.posts-list li {
    font-size:16px;
    line-height:1.5em;
    list-style-type:circle;
}
